@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  /* Noto Sans TC 這個 思源黑體 */
  font-family: "Arial", "PingFang", "Noto Sans TC", "sans-serif";
}
*,*::before,*::after{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
h1{
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 80px;
    line-height: 1.1875;
    border-bottom: 2px solid #000;
}
.profile{
    margin-bottom: 40px;
}
.profile li{
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 1.5;
}
.profile img{
    margin: 48px 0;
}
.title{
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding-bottom: 8px;
}
.title h2{
    display: inline;
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
}
.title span{
    font-size: 24px;
    line-height: 1.5;
    vertical-align:super;
    color: #A00404;
}
.eduction{
    margin-bottom: 48px;
}
.eduction li{
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.5;
}
.skills{
    text-align: center;
    background: #415165;
    color:#fff;
    padding-top: 24px;
    padding-bottom: 40px;
    margin-bottom: 64px;
}
.title2{
    border-bottom: 1px solid #fff;
    font-weight: bold;
    padding-bottom: 8px;
}
.title2 h2{
    display: inline;
    font-size: 32px;
    line-height: 1.5;
}
.title2 span{
    font-size: 24px;
    line-height: 1.5;
    vertical-align:super;
}
.skills-content{
    max-width: 996px;
    margin: 0 auto;
}
.skills-content-list{
    border-left: 1px solid #96A9C4;
    text-align: left;
    padding-left: 23px;
    max-width: 225px;
    margin: 0 auto;
    margin-top: 40px;
}
.skills-content-list li{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.5;
}
.work{
    margin-bottom: 80px;
}
.work-content{
    border-left: 1px solid #000;
    margin-left: 24px;
    padding-left: 24px;
}
.work-content li{
    margin-bottom: 24px;
}
.work-content li h3{
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
}
.work-content li p{
    font-size: 20px;
    line-height: 1.5;
}
.contact{
    text-align: center;
    background: #415165;
    color:#fff;
    padding-top: 24px;
}
.contact-content{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 24px;
}
.contact-content li{
    padding-bottom: 16px;
}
.contact-content li a{
    text-decoration: none;
    color:#fff;
    font-size: 24px;
    line-height: 1.5;
}
.contact-content li img{
    margin: 0 12px;
    padding-bottom: 40px;
}

